.add-exercise-form-container {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 1px solid gainsboro;
    border-radius: 10px;
    align-items: center;
}


.add-exercise-input-container{
    padding: 10px;
}

.add-exercise-btn {
  padding: 4px 10px;
  background-color: dodgerblue;
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 0 10px 10px;
  font-weight: 600;
}

.add-exercise-textarea {
    height: 100px;
    width: 175px;
}