/* .small-btn {
  size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
} */

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  align-content: center;
   margin: 5%;
  /* grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem)); */
  gap: 2rem;
  justify-content: center;
  
} 

.exercises-container{
    display: flex;
    flex-wrap: wrap;
   
}

.btn-save > button {
    display: block;
    /* margin: auto; */
    padding: 1rem;
}

/* .exercise-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    outline: red solid 1px;
} */

/* .card {
  overflow: hidden;
  box-shadow: 0 2px 20px lightgray;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
} */

/* .card__img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card-title {
  padding: 1rem;
}

.card-description, p {
  padding: 0 1rem;
} */

.card-btn {
  height: 1rem;
  padding-bottom: 1rem;
  font-family: inherit;
  font-weight: bold;
  align-self: center;
  margin: 1rem;
  border: 2px solid palevioletred;
  background: transparent;
  color: palevioletred;
  border-radius: 1rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

/* .card-btn:after {
  transform: scale(1.02);
  background: palevioletred;
} */

