body {
  font-family: Arial, Helvetica, sans-serif;
}

.exercises-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 20px lightgray;
  display: flex;
  width: 20%;
  height: 18rem;
  margin: 3%;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 200ms ease-in;
  overflow: hidden;
}

.card__img {
  height: 8rem;
  width: 100%;
  border-radius: 4px;
  align-self: center;
  object-fit: cover;
}

.card-title {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 0;
}

.card-description,
p {
  padding: 0.5rem 1rem;
  min-width: 60%;
  flex-grow: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.exercise-card-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid palevioletred;
  background: transparent;
  color: palevioletred;
  border-radius: 1rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card-btn:hover {
  transform: scale(1.02);
}

@media (max-width: 60em) {
  .exercises-wrapper {
    display: flex;
    flex-direction: column;
  }

  .card {
    box-shadow: 0 2px 20px lightgray;
    display: flex;
    width: 90%;
    cursor: pointer;
    border-radius: 1rem;
    transition: transform 200ms ease-in;
  }
}