*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.card {
  box-shadow: 0 2px 20px lightgray;
  /* border-radius: 0.1rem; */
  display: flex;
  width: 100%;
  
  margin: 3%;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 200ms ease-in;
}

.card__img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card-title {
  padding: 1rem;
}

.card-description, p {
  padding: 0 1rem;
}

.card-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid palevioletred;
  background: transparent;
  color: palevioletred;
  border-radius: 1rem;
  line-height: normal;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card-btn:hover {
  transform: scale(1.02);
}

