body {
  font-family: Arial, Helvetica, sans-serif;
}

.exercises-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.card {
  box-shadow: 0 2px 20px lightgray;
  display: flex;
  width: 20%;
  margin: 3%;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 200ms ease-in;
}

.card__img {
  height: 12rem;
  width: 90%;
  border-radius: 4px;
  align-self: center;
  object-fit: cover;
}

.card-title {
  align-self: center;
  padding: 1rem;
}

.card-description,
p {
  padding: 0 1rem;
  min-width: 60%;
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.exercise-card-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid palevioletred;
  background: transparent;
  color: palevioletred;
  border-radius: 1rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card-btn:hover {
  transform: scale(1.02);
}

@media (max-width: 60em) {
  .exercises-wrapper {
    display: flex;
    flex-direction: column;
  }
  .card {
    box-shadow: 0 2px 20px lightgray;
    display: flex;
    min-width: 90%;
    cursor: pointer;
    border-radius: 1rem;
    transition: transform 200ms ease-in;
  }
}
