* {
    font-family: 'Poppins', sans-serif;
}

/* .dashboardContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 300px;
    text-align: center;
}

.dashboardContent > div {
    background-color: var(--clr-accent-400);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    border: 1px solid gainsboro;
    font-size: 2em;
    cursor: pointer;
    color: var(--clr-neutral-100);
}

.dashboardContent > div:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-400);
 
} */

