* {
    font-family: 'Poppins', sans-serif;
}

.dashboardContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 300px;
    text-align: center;
}

.dashboardContent > div {
    background-color: palevioletred;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 55%;
    font-size: 2em;
    cursor: pointer;
}

.dashboardContent > div:hover {
    background-color: rgb(143, 4, 37);
    color: white;
 
}

