.kanban-container {
    display: flex;
    background-color: var(--clr-neutral-200);
    width: 70%;
    max-width: 70%;
    height: auto;
    margin: var(--size-200) auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

#kanban {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: var(--size-200);
    padding: var(--size-200);
    box-sizing: border-box;
}

@media (max-width: 800px) {
    #kanban {
        flex-direction: column;
        align-items: center;
    }
}

