/* .container-own-exercises {
    padding: 20px;
}

.exercise-wrapper {
    display: flex;
    flex-direction: column;
}

.exercise-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.exercise-card img {
    max-width: 100%;
    height: auto;
}

.exercise-card-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.exercise-card-btn:hover {
    background-color: #0056b3;
} */