.user-form-container {
  width: 500px;
  height: fit-content;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, var(--clr-neutral-800) 0%, var(--clr-primary-400) 100%);
  border: 1px solid gainsboro;
  border-radius: 10px;
  align-items: center;
  box-shadow: 2px 1px 5px 4px gainsboro;
}

.user-input-container {
  padding: 10px;
}

.user-btn {
  padding: 5px 15px;
  background-color: var(--clr-primary-400);
  color: azure;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: var(--size-200);
}

.link-user-btn {
  background-color: rgb(17, 157, 157);
  border-radius: 2rem;
  padding: 4px 15px;
  cursor: pointer;
  margin: 2em 0;
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
