.user-form-container {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 1px solid gainsboro;
    border-radius: 10px;
    align-items: center;
}


.user-input-container{
    padding: 10px;
}

.user-btn {
  padding: 5px 15px;
  background-color: dodgerblue;
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 12px;
  margin-left: 10px;
}

.link-user-btn {
  background-color: rgb(17, 157, 157);
  border-radius: 2rem;
  padding: 4px 15px;
  cursor: pointer;
  margin: 2em 0;
  font-size: 14px;
}