.register-form-wrapper {
  /* background-image: url("../../images/short-image.png"); */
  /* z-index: auto;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-bg-img {
  z-index: auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.5;
}

.login-form-container {
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  width: 320px;
  height: 500px;
  color: var(--clr-neutral-700);
  background: var(--clr-neutral-100);
  padding: 10px;
  border-radius: var(--size-400);
  box-shadow: 0 0 30px var(--clr-neutral-700);
}

.login-btn {
  margin: var(--size-400) var(--size-900);
  background:linear-gradient(0deg, var(--clr-neutral-800) 0%, var(--clr-primary-400) 100%);;
  color: var(--clr-neutral-100);
  border-radius: 100vh;
  cursor: pointer;
  font-weight: 600;
}

.back-arrow {
  margin: var(--size-400) var(--size-900);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
  border-radius: 100vh;
  cursor: pointer;
  font-weight: 600;
  padding: var(--size-200) var(--size-300);
}

.login-btn:hover {
  background-color: var(--clr-neutral-200);
  color: var(--clr-accent-900);
}

h3 {
  text-align: center;
  margin: var(--size-400) 6rem;
  padding: 1rem;
  font-weight: 600;
}

.login-input-container {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: var(--clr-neutral-700) 2px solid;
  margin: 30px 0;
}
/* 
.__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
} */


.login-input-container label {
  position: absolute;
  margin-bottom: 2rem;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--clr-neutral-700);
  font-weight: 500;
  pointer-events: none;
  /* transition: top 0.5s ease-in; */
}
/* 
.__label {
  position: absolute;
  left: 0.2rem;
  top: 0.8rem;
  cursor: text;
  transition:top 200ms ease-in;
} */

.login-input-container input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}

/* .__input:focus ~ .__label,
.__input:not(:placeholder-shown).__input:not(:focus) ~.__label {
 top: -0.5rem;
 font-size: 0.8rem;
} */