.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  background-color: var(--clr-primary-400);
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 5px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 7px 8px;
}

.btn-delete {
  background-color: var(--clr-accent-400);
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 5px;
  margin-left: 10px;
  padding: 2px 8px;
  font-weight: 500;
}

td {
 padding: 1% 0;
 width: 15%;
}

thead {
  text-align: left;
  font-weight: 600;
}

tbody {
  margin-left: 10px;
  text-align: left;
}

table {
  width: 70%;
  padding: 20px;
}
