/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a {
  /* font-family: "Monserrat", sans-serif; */
  /* font-weight: 600; */
  font-size: 16px;
  color: white;
  text-decoration: none;
}

/* #sidebar-logo {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-self: left;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--clr-neutral-100);
}

.header {
  position: sticky;
  top: 0;
}

.logo {
  cursor: pointer;
  width: 300px;
}
ul,
li {
  list-style: none;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

nav li a {
  transition: all 0.3s ease 0s;
}

/* button {
  padding: 0 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 10px;
} */

button a {
  color: #f7f8fd;
}

.header nav {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  li {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 100vw;
    padding: 0 10%;
  }
  li {
    display: inline;
    padding: 0px 10px;
  }
}

/*
 .header {
  height: 5rem;
  background-color: #fc9517;
  padding: 0 10%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 2rem;
  width: 5rem;
}

.logo {
  background-color: #fc9517;
  padding: 0;
  width: 150px;
}

.header a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #6d6e6a;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #302f30;
} */
